.wrapper {
	margin: 5px;
	border: solid black 3px;
}
.body {
	background-color: #3399ff;
	border-radius: 40% 30% 70% 90%;
	height: 28em;
	width: 22em;

	border-bottom: 10em solid #3333cc;
	border-color:darkpurple;
}
.lefteye {
	background-color: white;
	border-radius: 40% 30% 70% 90%;
	border-bottom: 2em solid #3333cc;
	height:8em;
	width:6em;
	position:absolute;
	top: 10em;
	left: 4em;

}
.righteye {
	background-color: #99ff99;
	border-radius: 40% 30% 60% 90%;
	border-bottom: 1em solid #3333cc;
	height: 4em;
	width: 3em;
	position: absolute;
	top: 13em;
	left: 16em;
}
.pupil {

}
.shiny {

}
.nose {
	position: absolute;
	height:8em;
	width:6em;
	border-radius: 40% 30% 70% 90%;
	border-bottom: 2em solid #3333cc;
	top: 13em;
	left: 9em;
}
.nostrilone{
	position:absolute;
	border-radius:100% 50%;

}
.nostriltwo{
	position:absolute;

}
.mouth {

}
.tooth {

}
.chiptooth {

}
.langua {

}
